#wpadminbar #wp-admin-bar-site-name > a.ab-item {
    line-height: var(--wp-admin--admin-bar--height);
    font-size: 1.6em;
}

/* Fix plugin Debug Bar Constants colors when using Query Monitor dark mode */
.db-pretty-var * {
    color: var(--qm-container-fg) !important;
}

/* Show "Clickable" label on all (most?) WP admin pages */
.wrap label {
	cursor: pointer;
}
